/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after {
    content; "";
    display: table;
    clear: both
}

body {
    font-family:'Rubik', sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;  
}

.float-left {
    float: left;
}

.team-intro {
    text-align: center;
}

.page-title {
    color: #e43071;
    font-size: 2.5rem;
    padding: 40px 0;
}

.text-paragraph {
    color: #212427;
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding-bottom: 40px;
}

.team-box {
    background-color: #e43071;
    border: 10px solid blanchedalmond;
    width: 33%;
}

.img-team-box {
    width: 30%;
}

.black-box {
    color: white;
    background-color: #0f0e17;
    padding: 15px;
    width: 70%;
}