/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after {
    content; "";
    display: table;
    clear: both
}

h2 {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-bottom: 0.6rem;
}

body {
    font-family:'Rubik', sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;  
}

address {
    font-size: 0.9rem;
    font-style: normal;
    color:#50c3e8;
    margin-top: 0.6rem;
    vertical-align: middle;
}

.float-left {
    float: left;
}

.team-intro {
    text-align: center;
}

.page-title {
    color: #e43071;
    font-size: 2.5rem;
    padding: 40px 0;
}

.text-paragraph {
    color: #212427;
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding-bottom: 40px;
}

.team-box {
    background-color: #0f0e17;
    width: 31%;
    margin-bottom: 50px;
    margin-right: 3%;
    box-shadow: -1px 2px 10px 0px #6C6C6C;
}
    
.team-box:last-child {
    margin-right: 0;
}

.img-team-box {
    width: 30%;
    vertical-align: middle;
}

.black-box {
    color: white;
    padding: 15px;
    width: 70%;
}

